.hero-section {
  height: 100dvh;
  width: 100%;
  padding-top: 160px;
  padding-inline: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;

  background: url(./../public/images/Hero_Section.jpg) no-repeat center / cover;
  color: var(--white);
  text-align: center;

  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }

  &::before {
    top: 0;
    background: linear-gradient(#5383A9, #5382a981, #5c8ab00b);
    height: 412px;
  }

  &::after {
    bottom: 0;
    background: linear-gradient(#ffffff00, #ffffff2f, #ffffff5c, #ffffffa7, #fff);
    height: 240px;
  }

  &__title {
    font-size: 72px;
    letter-spacing: -2.5px;
    margin-bottom: 24px;
    z-index: 2;
  }

  &__subtitle {
    font-size: 18px;
    z-index: 2;
  }

  @media (max-width: 989px) {
    &__title {
      font-size: 55px;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 44px;
      margin-bottom: 14px;
    }
  }
}