// ==========================================
// HERO SECTION
// ==========================================
.hero-section {
  height: 100dvh;
  width: 100%;
  padding-top: 160px;
  padding-inline: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;

  background: url(./../public/images/Hero_Section.jpg) no-repeat center / cover;

  color: var(--white);
  text-align: center;

  position: relative;

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
  }

  &::before {
    top: 0;
    background: linear-gradient(#5383A9, #5382a981, #5c8ab00b);
    height: 412px;
  }

  &::after {
    bottom: -1px;
    background: linear-gradient(#ffffff00, #ffffff2f, #ffffffaf, #ffffffe3, #fff);
    height: 240px;
  }

  &__title {
    font-size: 72px;
    letter-spacing: -2.5px;
    margin-bottom: 24px;
    z-index: 2;
  }

  &__subtitle {
    font-size: 18px;
    z-index: 2;
  }

  @media (max-width: 989px) {
    &__title {
      font-size: 55px;
    }
  }

  @media (max-width: 768px) {
    padding-top: 86px;

    &::before {
      height: 230px;
    }

    &::after {
      height: 177px;
    }

    &__title {
      font-size: 44px;
      margin-bottom: 14px;
    }

    &__subtitle {
      width: 90%;
    }
  }
}

// ==========================================
// CONTENT
// ==========================================

.stats {
  &__container {
    display: flex;
    gap: 8px;
  }

  &__block {
    width: 33%;
  }

  &__title {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 18px;
    color: var(--neutral-600);
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 16px;
    }
  }
}