.footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background: var(--neutral-25);

    &__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 71px;

        &-col {
            width: 130px;

            @media (max-width: 989px) {
                width: auto;
            }
        }

        &-title {
            color: var(--black);
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 32px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: var(--neutral-600);
            font-size: 16px;
        }
    }

    &__rights {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        padding-top: 24px;
        border-top: 1px solid var(--neutral-100);

        color: var(--neutral-600);
        font-size: 14px;

        &-list {
            display: flex;
            align-items: center;
            gap: 24px;
        }
    }

    @media (max-width: 768px) {
        padding-top: 60;
        padding-bottom: 20px;

        &__nav {
            column-gap: 20px;
            row-gap: 40px;
            margin-top: 60px;
            flex-wrap: wrap;
            justify-content: space-between;

            &-col {
                width: 130px;

                &:first-child {
                    order: 2;
                }
            }

            &-title {
                margin-bottom: 20px;
            }
        }

        &__rights {
            flex-direction: column;
            gap: 32px;

            &-list {
                flex-direction: column;
                gap: 12px;
                align-items: start;
            }
        }
    }
}